.staff-list {
	list-style:none;
	margin:0;
}

	.staff-list li {
		line-height:1.8em;
		margin:0 1px 20px 1px;
		overflow:hidden;
		text-align:left;
	}
	
		.si-copy {
			clear:none;
			float:right;
			padding:18px 0 0 0;
			width:350px;
		}
	
		.si-image {
			clear:none;
			display:block;
			float:left;
			height:220px;
			overflow:hidden;
			width:180px;	
		}
	
		.si-name {
			font-size:1.4em;
			padding:0;
		}
		
		.si-email {
			font-size:1em;	
		}